/* task-3 */
#gallery {
  display: flex;
  justify-content: space-evenly;
}

.gallery__item {
  list-style-type: none;
  box-shadow: 7px -5px 10px 0px #008250;
}

/* task-6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
